body {
	font-family: "Trebuchet MS", "Geneva CE", lucida, sans-serif;
}

.control-error label {
	color: red;
}

input.text, textarea {
	border: 1px solid #78bd3f;
	padding: 3px;
	color: black;
	background: white;
}

input.button {
	font-size: 120%;
}

dt, dd {
	padding: .5em 1em;
}

form {
	width: 550px;
}

form h3 {
	background: #78bd3f;
	color: white;
	margin: 0;
	padding: .1em 1em;
	font-size: 100%;
	font-weight: normal;
	clear: both;
}

form dl {
	background: #F8F8F8;
	margin: 0;
}

form dt {
	text-align: right;
	font-weight: normal;
	float: left;
	width: 10em;
	clear: both;
}

form dd {
	margin: 0;
	padding-left: 13em;
	display: block;
}

form dd ul {
	list-style: none;
	font-size: 90%;
}

form dd.odd {
	background: #EEE;
}

form dd.required {
	background: #FFBFBF;
	font-weight: bold;
}
